{{define "header"}}
<header>
    <div>Fresh Ping Logo</div>
    <div>
        <a href="/">home</a><br>
        <a href="/about">about</a><br>
        <a href="/ping">ping</a><br>
        <a href="/signup">signup</a><br>
		<a href="/login">login</a><br>
    </div>
</header>
{{end}}