<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="assets/main.css">
    <link rel="stylesheet" href="assets/form.css">
</head>
<body>

<main>
    <h1>{{.Title}}</h1>
</main>

<form action="/login" method="POST">

    <label for="ln">Email:</label>
    <input type="text" name="email" id="ln" placeholder="emailId">
 	
	<label for="ln">Password:</label>
    <input type="password" name="password" id="ln" placeholder="password">
	
    <button>
        <h1>SUBMIT</h1>
    </button>

</form>

</body>
</html>